body{
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
}

.card {
  background-color: #3F7B70;
  border: 1px solid #e6e6e6;
  box-shadow: 2px 4px 8px 5px rgba(0,0,0,0.5);
  transition: 0.3s;
  border-radius: 10px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

h1{
  padding: 10px;
}

.input{
  border: 1px solid #333;
  border-radius: .3rem;
  padding: .25rem;
  width: 7em;
}

select{
  margin-left: .5rem;
}

.equals{
  font-weight: bold;
  font-size: 2rem;
}



.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 10px 20px 40px 20px;
}
